{% extends "base.html" %}

{% block content %}
    <h3 class="extra-padding">Password Reset</h3>
    <div class="form-input">
        {% if form %}
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="button submit-button" type="submit" value="Submit" />
            </form>
        {% else %}
            <p>This password reset link is invalid. Please be sure this link matches the one from the email we sent you exactly.</p>
        {% endif %}
    </div>
{% endblock %}
