{% extends "base.html" %}

{% block content %}
    <h2>Artist Application</h2>
    <div class="page-padding">
        <h4>Thank you! Your submission was received successfully.</h4>
        <p class="extra-padding">We will be contacting you soon with further details on launching your campaign. If you haven't already, please look over the <strong><a href="{% url 'artist-resources' %}" target="_blank">ARTIST RESOURCES</a></strong> page and <a href="{% url 'contact' %}" target=" _blank"><strong>REACH OUT TO US</strong></a> if you have any additional questions.</p>
    </div>
{% endblock %}
