{% load staticfiles %}
{% load humanize %}
{% load perdiem %}

<h3>Past Campaigns</h3>
<ul>
    {% for past_campaign in artist.past_campaigns %}
        <div class="past-campaign">
            <div class="break">
                <hr>
            </div>
            <li>
                <div class="project-artwork">
                    <h6 class="project-details">{{ past_campaign.project.reason }}</h6>
                </div>
                <h5 class="extra-padding strong">Raised ${{ past_campaign.amount|intcomma }} for {{ past_campaign.fans_percentage }}% of {{ past_campaign.project.reason }} revenue</h5>
                <h6>{{ past_campaign.use_of_funds }}</h6>
                {% if past_campaign.project.generated_revenue %}
                    <h6>${{ past_campaign.project.generated_revenue|notrail_floatformat:2|intcomma }} generated so far from this project</h6>
                    <h6>${{ past_campaign.project.generated_revenue_fans|notrail_floatformat:2|intcomma }} for investors</h6>
                {% endif %}
                <div class="break">
                    <hr>
                </div>
            </li>
        </div>
    {% endfor %}
</ul>
