{% extends "base.html" %}

{% load staticfiles %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "css/extra/resources.css" %}" type="text/css" charset="utf-8" />
{% endblock %}

{% block content %}
    <h2>Investors</h2>
    <h5 class="color-blue">Everything you need to know about investing in music on the platform</h5>
    <div class="break">
        <hr>
    </div>
    <div class="resources-container">
        <div id="join">
            <h3>Creating A Profile</h3>
            <div class="break">
                <hr>
            </div>
            <div id="join-1">
                <div class="center">
                    <img class="img-resources" src="{% static "img/resources/perdiem-register.jpg" %}">
                </div>
                <h4>Signing up with Facebook or Google</h4>
                <p>
                    Anyone can sign up for PerDiem <a href="{% url 'register' %}">here</a>.
                    It's easiest to login with one click using your Facebook or Google account. Alternatively, you can sign up with an email address and password.
                </p>
            </div>
            <div id="join-2">
                <div class="center">
                    <img class="img-resources" src="{% static "img/resources/perdiem-avatar.jpg" %}">
                </div>
                <h4>Building your Profile</h4>
                <p>
                    To get started building your investor profile, hover over the user icon in the top right corner of the page and select the "Settings" tab. We recommend uploading an Avatar so that artists can have a more personalized view of who is supporting them.
                </p>
            </div>
            <div id="join-3">
                <div class="center">
                    <img class="img-resources" src="{% static "img/resources/perdiem-emails.jpg" %}">
                </div>
                <h4>Getting e-mail Updates</h4>
                <p>
                    Artists use the updates integrated into the platform to keep investors up to date on all the latest happenings related to their music. These are pushed directly to your e-mail inbox so that you don’t have to always track them down across social media and websites. If you want to receive these, make sure your email preferences are selected to receive them.
                </p>
            </div>
            <div id="join-3">
                <div class="center">
                    <img class="img-resources" src="{% static "img/resources/perdiem-anonymous.jpg" %}">
                </div>
                <h4>Privacy</h4>
                <p>
                    Currently user investments are private. Total returns for investors are public and used to calculate the Top Investors on the leaderboard page. If you would like to invest anonymously, you can set your profile to anonymous in your user settings.
                </p>
            </div>
        </div>
        <div id="launch">
            <h3>Investing in Music</h3>
            <div class="break">
                <hr>
            </div>
            <div id="launch-1">
                <h4>Evaluating an Artist</h4>
                <p>
                    Investors can use the artist Funding Calculator to determine if a project is a good investment.
                </p>
            </div>
            <div id="launch-2">
                <h4>How much to invest</h4>
                <p>
                    The more you invest, the more potential you have to earn. However, you should only invest what you are willing to lose. Not every project is going to be a success. It's important to make stategic investments in artists that you believe in.
                </p>
            </div>
            <div id="launch-3">
                <h4>Project Valuation</h4>
                <p>
                    A project valuation is the best way to determine how much return you can expect to make. The valuation is essentially the "break-even" point for a project. This is the total amount raised / percentage returned to investors. You can use the Funding Calculator to estimate how many streams it would take in order to hit that amount. For example, if the artist's project doubles their valuation, then you will double your money.
                </p>
            </div>
            <div id="launch-4">
                <h4>Sources of Reveue</h4>
                <p>
                    We distribute the artists music globally into Spotify, iTunes, Apple Music, Pandora, Amazon, Google Play, Tidal, iHeartRadio, YouTube, Deezer and 150+ other stores & streaming services. All earnings are on a 3 month delay and will be posted as soon as we are paid out by the distributor.
                </p>
            </div>
            <div id="launch-5">
                <h4>Return on Investment</h4>
                <p>
                    Investors can use the Funding Calculator to help determine what projects they believe will be most likely to succeed. It's important to know the total valuation of the project in order to determine its break-even point. The higher this number the more streams and downloads the music will need in order for it to break even.
                </p>
            </div>
        </div>
        <div id="success">
            <h3>Supporting Your Artists</h3>
            <div class="break">
                <hr>
            </div>
            <div id="success-1">
                <h4>Artist Updates</h4>
                <p>
                    Artists can share exclusive updates with their investors. Make sure your email preferences are set to receive these emails as they can be a big part of helping to promote the artist's music.
                </p>
            </div>
            <div id="success-2">
                <h4>Sharing the music</h4>
                <p>
                    Sharing the music is key to the artist's success. The more help they get in promoting it, the more likely it is to do well.
            </div>
            <div id="success-3">
                <h4>Exclusive Music</h4>
                <p>
                    If you are one of the first investors in a song or album, the artist may allow exclusive access to it before it's released to the public. By viewing the album page you can check to see if a download is available.
                </p>
            </div>
            <div id="success-4">
                <h4>Contacting Artists</h4>
                <p>
                    If you would like to reach out to the artists directly, please contact us and we will do our best to make it happen. 
                </p>
            </div>
        </div>
        <div id="next">
            <h3>Cashing Out</h3>
            <div class="break">
                <hr>
            </div>
            <div id="next-1">
                <div class="center">
                    <img class="img-resources" src="{% static "img/resources/perdiem-earnings.jpg" %}">
                </div>
                <h4>Where can I see my earnings?</h4>
                <p>
                    You can view individual artist earnings on the Artist tab of your profile. This will show the total amount earned for the artist and the total amount invested. For an overview of all earnings you can view the Earnings tab.
                </p>
            </div>
            <div id="next-2">
                <div class="center">
                    <img class="img-resources" src="{% static "img/resources/perdiem-cashout.jpg" %}">
                </div>
                <h4>Request Cash Out</h4>
                <p>
                    With any investment, it may take a while for you to see a return on your investment. When you decide to sell your shares, we purchase them back from you at their current value which may be more or less than you purchased them at. Simply “Request Cash Out” on your user profile page and we will send your earnings via PayPal in 1-2 business days.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
