{% extends "base.html" %}

{% block content %}
    <h2 class="privacy-title">Privacy</h2>
    <div class="break">
        <hr>
    </div>
    <div class="extra-padding-wide left">
        <h5>PRIVACY POLICY</h5>
        <h5>LAST UPDATED: December 10, 2019</h5>
        <h5>Changes to This Policy</h5>
        <p>We may update this Policy from time to time. If we do, we’ll let you know about any material changes, either by notifying you on the Site or by sending you an email. New versions of this Policy will never apply retroactively — we’ll tell you the exact date they go into effect. If you keep using PerDiem after a change, that means you accept this Policy.</p>

        <h5>Who We Are</h5>
        <p>PerDiem, LLC provides services that help artists fund their projects. We are a Limited Liability Company based in San Diego, CA.</p>
        <p>How This Policy Applies</p>

        <p>This Policy describes the information we collect from you, how we use that information and our legal basis for doing so. It also covers whether and how that information may be shared and your rights and choices regarding the information you provide to us. If you see a capitalized word, it’s defined in our Terms of Use. We use cookies and similar technologies, as described in our Cookie Policy.</p>

        <p>By using the Services offered by PerDiem, you’re acknowledging you have agreed to our Terms of Use and that you have read and understood this Privacy Policy and our Cookie Policy.</p>

        <h5>What We Collect and Receive</h5>
        <p>In order for you to create an account on PerDiem and use our Services, we need to collect and process certain information. Depending on your use of the Services, that may include:</p>
        <p>* Information you provide by completing forms on PerDiem — your name, email and postal addresses, telephone number, country of residence, login, and password details. We may ask for this information if you register as a user of the Services, subscribe to our newsletters, upload or submit content through PerDiem, or if you contact us;</p>
        <p>* Information you provide for identity verification purposes when launching a project, including your legal name, business name and Tax ID for business entities, and date of birth. In some cases, our payment processor will request that you provide a secure upload of an identity document (such as your passport, drivers license or other government-issued ID) to PerDiem;</p>
        <p>* Details of any requests or transactions you make through the Services. PerDiem partners with other companies (such as Stripe) for payment processing, and the payment information you submit is collected and used by them in accordance with their privacy policies (for Stripe’s, click here). PerDiem doesn’t store your payment information apart from the last four digits of your credit card or bank account (as applicable), expiration date, and country, which we require for tax, government regulatory, and security purposes;</p>
        <p>* Information about your activity on and interaction with PerDiem (such as your IP address, the type of device or browser you use, and your actions on the Site);</p>
        <p>* Information about the ways people visit and interact with our Site, in the form of traffic analytics. You can opt out of being included in Google Analytics here. For more information about our use of data analytics to protect and improve our Services, see our Cookie Policy;</p>
        <p>* Communications you send to us (for example, when you ask for support, send us questions or comments, or report a problem);</p>
        <p>* Information that you submit on or to PerDiem in the form of comments, contributions to discussions, or messages to other users; and</p>
        <p>* The email address associated with your Facebook account, if you choose to sign up using your Facebook credentials. PerDiem will also request permission to access your name, profile picture, and friend list (these permissions are governed by Facebook’s privacy policies and can be managed through your Facebook privacy settings). We never post anything to your Facebook, Twitter, or other third-party accounts without your permission.</p>
        <p>You may decline to provide us with your information. However, this will limit your ability to register for an account or use our Services.</p>

        <h5>How We Use This Information</h5>
        <p><strong>We use the information we collect for the following purposes:</strong></p>
        <p>* To keep your account secure and protect our Services (including to verify the identities of creators and prevent fraud and abuse);</p>
        <p>* To enable us to provide you with our Services, and to improve and promote our Services;</p>
        <p>* To create and administer your account, contact you, and customize your experience on PerDiem (for example, to show you projects that we think may interest you based on your previous use); and</p>
        <p>* To track and analyze use of the Services so that we can improve how PerDiem is performing and provide users with the best experience possible.</p>

        <p><strong>European Union Users</strong></p>
        <p>Data protection law in Europe requires a “lawful basis” for collecting and retaining personal information from citizens or residents of the European Economic Area. Our lawful bases include:</p>
        <p>* Performing the contract we have with you: In certain circumstances, we need your personal data to comply with our contractual obligation to deliver the Services, enable creators to establish and display their projects, and enable backers to find and make pledges to them.</p>
        <p>* Legal compliance: Sometimes the law says we need to collect and use your data. For example, tax laws require us to retain records of pledges and payments made through our Services.</p>
        <p>* Legitimate interests: This is a technical term in data protection law which essentially means we have a good and fair reason to use your data and we do so in ways which do not hurt your interests and rights. We sometimes require your data to pursue our legitimate interests in a way that might reasonably be expected as part of running our business and that does not materially impact your rights, freedom or interests.</p>

        <p>For example, we use identity, device, and location information to prevent fraud and abuse and to keep the Services secure. We may also send you promotional communications about our Services, subject to your right to control whether we do so.</p>

        <p>We analyze how users interact with our Site so we can understand better what elements of the design are working well and which are not working so well. This allows us to improve and develop the quality of the online experience we offer all our users.</p>

        <h5>How This Information Is Shared</h5>
        <p><strong>Information that’s shared publicly</strong></p>
        <p>When you create an account, we create a basic profile page for you on PerDiem, containing your username, the date the account was created, and a list of music projects you have backed or launched. You can choose to fund projects anonymously by choosing that options in your user settings. Your username appears with the comments you post and messages you send on PerDiem and, if your profile is set to public, people can click your username to view it. If you make your profile public, others will be able to see the following things:</p>
           <p>* The account username you select, and the date the account was created;</p>
           <p>* Any information you choose to add to your profile (like a picture, bio, or your location);</p>
           <p>* Music projects you’ve backed;</p>
           <p>* Music projects you’ve created;</p>
           <p>* Comments you’ve posted on PerDiem; and</p>
           <p>* If you have “Liked” a project update.</p>
        <p>You can modify or delete certain information associated with your account (such as your username, profile image, biography and location) from your account settings.</p>
        <p>Artists are also asked to verify their identities before launching a project. Once this has been done, the creator’s Verified Name will be publicly displayed on their account profile and on any projects they launch.</p>

        <p><strong>Information that isn’t shared publicly</strong></p>
        <p>The following data will not be publicly displayed or revealed to other users:</p>
           <p>* Any payment information you provide;</p>
           <p>* Your password details;</p>
           <p>* Your IP address;</p>
           <p>* Your phone number;</p>
           <p>* Your date of birth and other identity verification documentation (for creators);</p>
           <p>* Private profile information, in accordance with your preferences; and</p>
           <p>* Communications you send to us (for example, when you ask for support, send us questions or comments, or report a problem).</p>

        <p><strong>Information that’s shared with trusted third-party services</strong></p>
        <p>We may share your information with certain trusted third-party services to help us provide, improve, promote, or protect PerDiem’s Services (like when we partner with payment processors, or use services that help us manage our ads on other sites). When we share data with third-party services that support our delivery of the PerDiem Services, we require that they use your information only for the purposes we’ve authorized, and that they protect your personal information at least to the same standards we do. We may also share information that’s aggregated and anonymized in a way that it doesn’t directly identify you.</p>

        <p><strong>Information that’s shared with artists</strong></p>
        <p>When you back a project, the project’s creator will know your username, email address, and the amount you have pledged. Creators never receive backers’ credit card details or other payment information.</p>
        <p>Artists should not ask for personal information that isn’t necessary and should never request sensitive personal information such as your Social Security number or payment information. Contact us at support@investPerDiem.com if you receive a request for information that seems inappropriate or excessive.</p>
        <p>Artists may also receive routine traffic analytics about their project pages.</p>
        <p>Information that’s shared to protect PerDiem and comply with the law</p>
        <p>We do reserve the right to disclose personal information when we believe that doing so is reasonably necessary to comply with the law or law enforcement, to prevent fraud or abuse, or to protect PerDiem’s legal rights, property, or the safety of PerDiem, its employees, users, or others.</p>

        <h5>Links to other websites and services</h5>
        <p>Our Site may include links to other websites or services whose privacy practices may differ from PerDiem’s. When you use a link to an external site or service, the privacy policy and data processing disclosures for that site or service governs.</p>

        <h5>Retention</h5>
        <p>We will retain your information as long as your account is active, as necessary to provide you with the Services or as otherwise set forth in this Policy. We will also retain and use this information as necessary for the purposes set out in this Policy and to the extent necessary to comply with our legal obligations, resolve disputes, enforce our agreements and protect PerDiem’s legal rights.</p>

        <p>We also collect and maintain aggregated, anonymized or pseudonymized information which we may retain indefinitely to protect the safety and security of our Site, improve our Services or comply with legal obligations.
        Data Transfers
        Because PerDiem is a US-based company, your information will be collected and processed in the United States. The United States has its own laws governing data protection and government access to information. The rules that protect your personal information under United States law may be different than in your home country. If you choose to use the Services, you need to agree to our Terms of Use, which set out the contract between PerDiem and its users.</p>

        <h5>Your Rights</h5>
        <p>Users residing in certain countries, including the EU, are afforded certain rights regarding their personal information. Except where an exception or exemption applies, these rights include the ability to access, correct, and request deletion of your personal information. While these rights are not applicable globally, all PerDiem users can manage their personal information, as further described below, in their account settings.
        You can request a downloadable copy of your personal data from PerDiem by emailing support@investperdiem.com. To modify or delete the personal information you’ve provided to us, please log in and update your profile. We may retain certain information as required by law or as necessary for our legitimate business purposes.</p>

        <h5>Email and Mobile Notifications</h5>
        <p>We want to communicate with you only if you want to hear from us. We try to keep emails to a minimum and give you the ability to opt in to any marketing communications we send.
        We will send you email relating to your transactions on PerDiem. You may also elect to receive certain marketing email communications and emails from the artists updating you about their projects.
        We’ll also send you service-related announcements when it’s necessary to do so.</p>

        <h5>Security</h5>
        <p>We take security seriously, and the security of your personal data is important to us. We follow industry-standard practices to protect the data we collect and maintain, including using Transport Layer Security (TLS) to encrypt information as it travels over the internet. No method of transmission over the internet or electronic storage is completely secure, so PerDiem cannot guarantee its absolute security. Your account information is protected by a password, which you should choose carefully and keep secure.
        We have a Security Incident Response Team (SIRT) and protocol in place in the event of a data breach. We encourage the responsible disclosure of vulnerabilities of our Services by emailing security@investPerDiem.com.
        Data Protection Officer
        To contact our Data Protection Officer, please email support@investPerDiem.com.</p>

        <h5>Data Protection Authority</h5>
        <p>Subject to applicable law, if you are a citizen or resident of the European Economic Area, you also have the right to (i) object to PerDiem’s use of your personal information and (ii) lodge a complaint with your local data protection authority or the United Kingdom Information Commissioner’s Office, which is PerDiem’s lead supervisory authority in the European Union.
        United Kingdom Information Commissioner’s Office
        Wycliffe House, Water Lane, Wilmslow, Cheshire
        SK9 5AF, United Kingdom
        Telephone: +0303 123 1113
        Fax: 01625 524510
        Web: https://ico.org.uk/global/contact-us/</p>

        <h5>Children</h5>
        <p>People under 18 (or the legal age in your jurisdiction) are not permitted to use PerDiem on their own. PerDiem does not knowingly collect any personal information from children under the age of 13 and children under 13 are not permitted to register for an account or use our Services.
        If you believe that a child has provided us with personal information, please contact us at support@investPerDiem.com. If we become aware that a child under age 13 has provided us with personally identifiable information, we’ll delete it.</p>
    </div>
{% endblock %}
