{% extends "base.html" %}

{% block content %}
    <h2>Trust &amp; Safety</h2>
    <div class="break">
        <hr>
    </div>
    <div class="extra-padding">
        <h5 class="strong">Our mission at PerDiem is to strengthen the relationship between artists and fans</h5>
        <h5 class="strong">For Artists</h5>
        <p>We don't make artists sign contracts because we want to give them complete freedom and ownership of their music.</p>
        <p>This means that an artist can leave at anytime.</p>
        <p>Which means we must always act in the best interest for artists.</p>
        <p>When you choose to be part of the platform, you are agreeing to produce the record that your fans invested in and release it through PerDiem.</p>
        <p>This means that you get to create the record that you want.</p>
        <p>This also means that your fans are going to be looking forward to the release of your album.</p>
        <h5 class="strong">For Investors</h5>
        <p>As a fan, you are the loud speaker for the artist.</p>
        <p>When artists do good and treat their fans well, you guys share the love and tell your friends how amazing they are.</p>
        <p>The system is designed to protect both the artists and the fans.</p>
        <p>By distributing the music, we are easily able to track revenue and divide it to the appropriate places.</p>
        <p>There is a chance that you may not make a return.</p>
        <p>There is always a risk in investing, so you should only invest in artists that you believe in.</p>
        <h5 class="strong">WE RESPECT ARTISTS AND THE CREATIVE COMMUNITY</h5>
        <h5 class="strong">OUR GOAL IS TO CREATE A NEW WAY TO MAKE IT SUSTAINABLE</h5>
    </div>
{% endblock %}
